Repository sashashura/openproject, changes with the owners that .github/CODEOWNERS names for each.
All owners: @opf/frontend, @opf/backend, @opf/doc-writers, @opf/tech-writers

.github/CODEOWNERS:

# Frontend rules
*.js @opf/frontend
*.ts @opf/frontend

# Backend rules
/app/ @opf/backend
/config/ @opf/backend
/lib/ @opf/backend
/lib_static/ @opf/backend
/modules/ @opf/backend

# docs rules
/docs/ @opf/doc-writers

# Tech doc rules
/docs/development @opf/tech-writers 
/docs/installation-and-operations @opf/tech-writers 
/docs/system-admin-guide @opf/tech-writers 
/docs/api @opf/tech-writers @opf/backend

Keep larger spacings for app header on desktop
  frontend/src/global_styles/common/header/app-menu.sass
Owners: none

Accept the datepicker range when two dates present, no duration
  frontend/src/app/shared/components/datepicker/multi-date-modal/multi-date.modal.ts
Owners: @opf/frontend

[#43673] Include date alert into NotificationSetting Representer & Database
  app/models/notification.rb
  app/models/notification_setting.rb
  app/services/user_preferences/update_service.rb
  db/migrate/20220918165443_add_start_date_due_date_and_overdue_to_notification_settings.rb
Owners: @opf/backend

[#43675] Migration splitting involved notification setting and date defaults
  app/models/notification_setting.rb
  app/services/user_preferences/update_service.rb
  config/locales/js-en.yml
  db/migrate/20220922200908_add_assignee.rb
  frontend/src/app/features/user-preferences/notifications-settings/page/notifications-settings-page.component.html
  frontend/src/app/features/user-preferences/notifications-settings/page/notifications-settings-page.component.ts
  frontend/src/app/features/user-preferences/state/notification-setting.model.ts
Owners: @opf/backend, @opf/frontend

[#43697] add storage files breadcrumbs
  frontend/src/app/shared/components/file-links/file-picker-modal/file-picker-modal.component.ts
  frontend/src/app/shared/components/file-links/file-picker-modal/file-picker-modal.html
  frontend/src/app/shared/components/file-links/openproject-file-links.module.ts
  frontend/src/app/shared/components/file-links/storage-files-breadcrumbs/storage-files-breadcrumbs.component.ts
  frontend/src/app/shared/components/file-links/storage-files-breadcrumbs/storage-files-breadcrumbs.html
  frontend/src/app/shared/components/file-links/storage-files-breadcrumbs/storage-files-breadcrumbs.ts
  frontend/src/app/spot/styles/sass/components/breadcrumbs.sass
  frontend/src/app/spot/styles/sass/components/index.sass
Owners: @opf/frontend

[#43697] added breadcrumb collapsing logic
  frontend/src/app/shared/components/file-links/file-picker-modal/file-picker-modal.component.ts
  frontend/src/app/shared/components/file-links/storage-files-breadcrumbs/storage-files-breadcrumbs.html
  frontend/src/app/spot/styles/sass/common/container-overrides.sass
  frontend/src/app/spot/styles/sass/common/container.sass
  frontend/src/app/spot/styles/sass/components/breadcrumbs.sass
Owners: @opf/frontend
